.folder-card {
    cursor: pointer;
    
    .folder-name {
        font-size: 14px;
        margin-bottom: 6px;
    }
    
    .folder-subtext {
        font-size: 12px;
        color: #ffffff80;
    }
}